body{
    background-color: hsl(0, 0%, 95%);


}


.container{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    background-color:   hsl(0, 0%, 95%);
    
}
 


section{
    width: 720px;
    display: grid;
    grid-template-columns:  1fr 1fr 1fr;
    margin: 0 auto;
    border-radius: 14px;
    overflow: hidden;
     border: 100px solid     hsla(0, 0%, 100%, 0.75);
}

.box{
    padding: 10px;

    

}
.box-1{
    background-color: hsl(31, 77%, 52%);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.box-2{
    background-color: hsl(184, 100%, 22%);
}
.box-3{
    background-color: hsl(179, 100%, 13%);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.box  p{
    line-height: 2;
  padding: 10px;
  font-size: 12px;  
  color:  hsla(0, 0%, 100%, 0.75);
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
  margin-bottom: 40px;
  
}
.box h1{
    color: hsl(0, 0%, 95%);
    font-family: "Big Shoulders", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0 10px;
}

 .container section .box > a{
    display: inline-block;
    
    background-color:white;
    padding: 10px 20px;
    text-decoration:none;
    border-radius: 20px;
    margin: 20px 0px 20px 15px; 
    text-align: center;
    font-size: 12px;
  font-family: "Lexend Deca", sans-serif;



    
}
.container section .box > img{
    width: 45px;
}

.container section .box-1 > a{
     
    color:  hsl(31, 77%, 52%);
    background-color: white;

}
.container section .box-2 > a{
    color: hsl(184, 100%, 22%);

}

.container section .box-3 > a{
    color:hsl(179, 100%, 13%);

}

.container section .box-3 > a:hover{
    background-color: hsl(179, 100%, 13%);
    color: white;
    border: 2px solid white;
        
}

.container section .box-2 > a:hover{
    background-color: hsl(184, 100%, 22%);
    color: white;
    border: 2px solid white;
        
}.container section .box-1 > a:hover{
    background-color:hsl(31, 77%, 52%);
    color: white;
    border: 2px solid white;
        
}

@media (max-width: 519px) {
    .container{
        display: flex;
        justify-content: center;
        align-items: center;
    }

   
    section{
        display: flex;
        flex-direction: column;
        margin-top: 300px;
       min-width: 220px;
       border-radius: 20px;
      
    }

    .box-1{
        background-color: hsl(31, 77%, 52%);
        border-top-left-radius: 10px;
        border-bottom-left-radius: 0px;
        border-top-right-radius: 10px;
    }
    .box-2{
        background-color: hsl(184, 100%, 22%);
    }
    .box-3{
        background-color: hsl(179, 100%, 13%);
        border-top-right-radius: 0;
        border-bottom-right-radius: 10;
        border-bottom-left-radius: 10px;
    }
}



